/*https://www.creativebloq.com/how-to/create-a-slide-out-menu*/

  nav{
  display: block;
  position: fixed;
  box-sizing: border-box;
  top: 150px;
  left: -400px;
  z-index: 9999;
  padding: .5em 1em .5em 1em;;
  width: 400px;
  height: 80%;
  text-align: center;
  background: #c1c1b2;
  transition: all 1s; }

  nav.open{
  left: 0px;
}
nav *:first-child{
  position: fixed;
  cursor: pointer;
  left: 50px;
  top: 95px;
  clear: both; }

  nav a{
  display: block;
  font-size: 2.2em;
  color: #3a3a33;
  font-family: arial;
  text-decoration: none;
  margin-top: .2em;
  left: 60px
}

nav a:last-child {
  bottom: 10px;
}

nav a:nth-last-child(2){
  bottom: 60px;
}

nav a:last-child, nav a:nth-last-child(2){
  position: absolute;
  text-align: center;
}

nav > #nav-icon1 {
  width: 60px;
  height: 45px;
  left: 15px;
  top: 110px;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

nav > #nav-icon1 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #d3531a;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

nav > #nav-icon1 span:nth-child(1) {
  top: 0px;
}

nav > #nav-icon1 span:nth-child(2) {
  top: 18px;
}

nav > #nav-icon1 span:nth-child(3) {
  top: 36px;
}

nav > #nav-icon1.open span:nth-child(1) {
  top: 18px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

nav > #nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -460px;
}

nav > #nav-icon1.open span:nth-child(3) {
  top: 18px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
