<<<<<<< HEAD
Body {
	color:#004687;
	font-family:calibri, Helvetica, sans-serif;
	font-size:16px;
}
=======
Body {
	color:#004687;
	font-family:calibri, Helvetica, sans-serif;
	font-size:16px;
}
>>>>>>> 6f6ee0b14617a2fb4bacb61ab7966284796e663b
