#space_div
{
    padding-top: 5%;
}

.home_card
{

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    opacity: 1;
}

.card_header
{
    padding: 2%;
    text-align: center;
    font-size: 40px;
}

.card_body
{
    max-height: 400px;
    overflow: auto;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
}

.card_footer
{
    height: 5%;
    padding: 2%;
    background-color: lightgrey;
}

.home_card.card_header
{
    padding: 2%;
    box-shadow: white;
}

.home_card.card_body
{
    padding: 2%;
}

.home_card.card_footer
{
    padding: 2%;
    background-color: lightgrey;
}

.article
{
    padding: 1%;
}

div.inline
{
    float:left;
}

.clearBoth
{
    clear:both;
}

.article.card_header
{
    font-weight: bold;
    font-size: 20px;
}

.article_container
{
    position: fixed;
    overflow: auto;
    width: 22%;
    height: 90%;
    margin-right: 0;
}

.slide.ftse_share
{
    text-align: center;
    background-color: whitesmoke;
    opacity: 1;
    border: 1px Solid black;
    border-radius: 2%;
}

#Chg_neg
{
    font-weight: bold;
    color: red;
}

#Chg_pos
{
    font-weight: bold;
    color: green;
}