ul.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgrey;
}

ul.navbar li {
    float: left;
 }

ul.navbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navbar li a:hover:not(.active) {
    color: white;
    background-color: #33b5e5;
}

ul.navbar li a.active {
    color: white;
    background-color: #1565c0;
}

ul.navbar li.right {
    float: right;
}

@media screen and (max-width: 600px) {
    ul.navbar li.right,
    ul.navbar li {float: left;}
}