{% extends "@HncProject/Default/template.html.twig" %}

{% block title %}HncProjectBundle:User:register{% endblock %}

{% block body %}
<h1>Welcome to the User:register page</h1>
    {{ form_start(registerForm) }}
    {{ form_row(registerForm.firstname) }}
{% endblock %}
